* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .6);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .9);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}



.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 44rem;
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p {
    font-size: 11px;
}

.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {
    
    0%,
    20% {
        transform: rotate(0deg);
    }

    25%,
    45% {
        transform: rotate(-90deg);
    }

    50%,
    70% {
        transform: rotate(-180deg);
    }

    75%,
    95% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.home .profession-box .profession {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}


.home .profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
    padding-bottom: 20px;
}


.home .profession i {
    font-size: 3.8rem;
}

.home .profession h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle {
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 41%;
    pointer-events: none;
}

span {
    color: var(--main-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    border-radius: 50%;
    width: 25vw;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    margin-left: 30px;
    line-height: 1.2;
}

.about-content h3 {
    text-align: left;
    margin-left: 30px;
    font-size: 2rem;
}

.about-content p {
    text-align: left;
    margin-left: 30px;
    font-size: 1.6rem;
}
.header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
    background: var(--main-color);
}

.logo2 {
    font-size: 2.5rem;
    color: var(--white-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}
.navbar2 a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.navbar2 a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.education {
    min-height: auto;
    padding-bottom: 7rem;
}

.education h2 {
    margin-bottom: 5rem;
}
.education .education-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.education-container .education-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: 5s ease;
}

.education-container .education-box:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.6);
}

.education-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.education-box h3 {
    font-size: 2rem;
    transition: .5 ease;
}

.education-box:hover h3 {
    color: var(--main-color);
}

.education-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio{
    padding-bottom: 10rem;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .2), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: small;
    margin: .3rem 0 1rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p {
    margin-left: 440px;
    font-size: 1.6rem;
    color: var(--white-color);
    text-align: center;
}

.containerlg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.containerRg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200vh;
}


.box {
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    padding: 70px 70px;
    border-radius: 10px;
    box-shadow: var(--shadow-color);
}
.Login {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 700px;
    margin: 5px;
    border: 2px solid var(--main-color);
}

.form-box header{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}

.form-box form .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input {
    height: 30px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 3px solid var(--main-color);
    outline: none;
}

.btn {
    height: 35px;

    box-shadow: var(--main-color);
    border: 0;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}

.btn:hover {
    opacity: 0.82;
}

.submit {
    width: 100%;
}

.links {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.signup {
    color: var(--main-color);
}

#contact {
    width: 190px;
}

#number {
    width: 180px;
    margin-left: 210px;
    margin-top: 12px;
    margin-bottom: -50px;
}

#country {
    padding: 8px;
}

#state {
    padding: 8px;
}

#cities {
    padding: 8px;
}

.Login {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style inputs with type="text", select elements and textareas */
#subject {
    background: var(--main-color);
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 5px solid var(--main-color); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 30px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: var(--main-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    color: var(--main-color);
    background-color: var(--white-color);
    
  }
  
  /* Add a background color and some padding around the form */
  .feed-container {
    border-radius: 3px;
    background-color: #0b061f;
    border: 5px solid var(--main-color);
    padding: 50px;
    margin-top: 100px;
    width: 80%;
    margin-left: 160px;
  }

  .textoffeedbacks {
    font-size: 30px;
    color: #fdfdfd;
    font-weight: 600;
    padding: 370px;
  }


  .btn1 {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: rgb(196, 12, 12);
    box-shadow: 0 0 25px var(--white-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--white-color);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transition: .5s ease;
  } 

  .btn1:hover {
    background: var(--white-color);
    color: rgb(196, 12, 12);
  }

  .feed-body {
    background: #0b061f;
  }

  .message {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}